#nav-admin {
  position: absolute;
  z-index: 10;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  padding: 0 0px;
}

#nav-admin .nav-logo {
  text-align: left;
  padding-left: 10px;
  height: 50px;
}

#nav-admin .nav-logo a {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

#nav-admin .nav-logo p:hover,
#nav-admin .nav-menus p:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#nav-admin .col {
  height: 100%;
  margin: 0;
  padding: 0;
}

#nav-admin .nav-logo a {
  text-align: left;
  font-size: 2rem;
  color: White;
}

#nav-admin .nav-menus {
  padding-right: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 0px;
  padding-right: 20px;
}

#nav-admin .nav-menus a {
  color: white;
  position: relative;
  padding: 0 10px;
  font-size: 2rem;
}

#nav-admin .nav-menus .profile-component {
  width: auto;
}

#nav-admin .nav-menus .profile-link {
  color: black;
}
#nav-admin .row {
  width: 100%;
}

#nav-admin .nav-menus .bar {
  display: none;
}

#nav-admin .nav-admin-menus {
  display: none;
}

@media screen and (max-width: 1023px) {
  #nav-admin .nav-menus .login {
    display: none;
  }

  #nav-admin .nav-menus .profile-component {
    display: none;
  }

  #nav-admin .nav-menus .bar {
    display: block;
    width: 35px;
    height: 35px;
    filter: invert(100%) sepia(98%) saturate(2%) hue-rotate(32deg) brightness(102%) contrast(101%);
  }

  #nav-admin .nav-admin-menus {
    display: block;
    margin-right: 10px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  #nav-admin .nav-admin-menus {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 424px) {
  #nav-admin .nav-admin-menus {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 374px) {
  #nav-admin .nav-admin-menus {
    font-size: 1rem;
  }
}
