.nav-to-chat {
  /* position: absolute; */
  /* top: 85%; */
  z-index: 2;

  position: fixed;
  right: -50px;
  bottom: 40px;
}

.nav-to-chat .chatIcon {
  font-size: 40px;
  color: #f8cb2e;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-to-chat {
    left: 86.5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-to-chat {
    left: 90%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .nav-to-chat {
    left: 94%;
  }
}

@media screen and (min-width: 1440px) {
  .nav-to-chat {
    left: 95%;
  }
}
