.profile-component {
  position: relative;
}

.profile-component img {
  position: relative;
  width: 45px;
}

/* .profile-list {
  right: 50px;
  position: absolute;
} */

.profile-list ul {
  display: none;
}

.profile-link{
  min-height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.profile-list{
  color:black;
}

.profile-list span:hover{
  color:#2155CD;
}
.profile-list ul.active {
  font-size: 0;
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0;
  list-style: none;
  padding: 0;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.profile-list li{
  height:100px;
}
.profile-list a{
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 425px) {
  .profile-list {
    top: 48px;
    right: 3px;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .profile-list ul {
    width: 200px;
    font-size: 2rem;
  }
}
