.chatting-left-side{
  min-height: calc(100vh - 50px);
  background-color: white;
}

.chatting-left-side .btn-exit-div{
  width:100%;
  display:flex;
  justify-content: center;
  padding:10px 0px;
}

.chatting-left-side .chatting-member-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.chatting-left-side .member,
.chatting-left-side .host{
  position:relative;
  display: flex;
  align-items: center;
  padding:20px 0px;
}

.chatting-left-side .host-crown-img{
  position: absolute;
  width:30px;
  height:30px;
  top:27.5px;
  left:200px;
}

.chatting-left-side .chatting-member-list .profile-img{
  width:50px;
  border:1px solid black;
  border-radius: 50%;
  margin-right:10px;
}

.chatting-left-side .chatting-member-list .member-nickname{
  margin-right:10px;
  width:50px;
}

.chatting-left-side .chatting-member-list .me{
  display: flex;
  align-items: center;
  justify-content: center;
  width:30px;
  height:30px;
  border:1px solid black;
  border-radius: 50%;
  background-color: black;
  color:white;
  position:absolute;
  left:202.5px;
}