.chatting-left-side {
  min-height: calc(100vh - 50px);
  /* background-color: white; */
}

.chatting-left-side .btn-exit-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.hvr_grow {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: medium;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
}
.hvr_grow:hover,
.hvr_grow:focus,
.hvr_grow:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.chatting-member-light {
  background-color: white;
  color: black;
}

.chatting-member-dark {
  background-color: rgb(48, 48, 48);
  color: white;
}

.report-icon {
  width: 25px;
  cursor: pointer;
}

.chatting-left-side .chatting-member-list {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.chatting-left-side-arrow-back {
  font-size: 30px;
}

.chatting-left-side .member,
.chatting-left-side .host {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin-top: 30px;
  width: 80%;
}

.chatting-left-side .host-crown-img {
  /* position: absolute; */
  width: 30px;
  height: 30px;
  top: 28.5px;
  margin-left: 10px;
  /* left: 270px; */
}

.chatting-left-side .chatting-member-list .profile-img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.profile-img {
  cursor: pointer;
}

.chatting-left-side .chatting-member-list .member-nickname {
  margin-right: 10px;
  margin-left: 5px;
  /* width: 80px; */
}

.member-nickname {
  text-align: left;
  width: 25%;
}

.delete-icon-container {
  position: absolute;
  width: 30px;

  left: 370px;
  top: -140px;

  z-index: 1;
}

.chatting-left-side .chatting-member-list .me {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 30px;
  /* height: 30px; */
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin-left: 10px;
  /* position: absolute; */
  /* left: 270px; */
}
.me {
  justify-content: center;
}

.chatting-member-list {
  height: 750px;
  overflow: auto;
  overflow-x: hidden;
}

.chatting-out-container {
  text-align: center;
  background-color: red;
  cursor: pointer;
}

.chatting-out-container h3 {
  padding-top: 30px;
  height: 79px;
}
