.container-match-profile .user-profile {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.container-match-profile .profile-img {
  width: 50%;
}

.container-match-profile .profile-img img {
  width: 100%;
  height: 70%;
}

.container-match-profile .profile-img .form-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  padding-top: 5px;
}

.container-match-profile .form-profile .label-img {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 40px;
  margin: 5px 0px;
}

.container-match-profile .label-img span {
  color: black;
  font-size: 1.5rem;
}

.container-match-profile .profile-info {
  padding-left: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container-match-profile .profile-info p {
  font-size: 1.3rem;
}

.container-match-profile .profile-info .introduce {
  display: flex;
  align-items: center;
}


.container-match-profile .profile-info .img-badge {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 1.5px;
  margin-left: 5px;
}

.container-match-profile .introduce>p {
  max-width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-match-profile .introduce button {
  width: 40px;
  height: 20px;
  padding: 0;
  margin-left: 5px;
}

.container-match-profile .introduce button>p {
  font-size: 1rem;
  position: relative;
  bottom: 3px;
}

.container-match-profile .input-edit-introduce {
  display: flex;
}

.container-match-profile .input-edit-introduce input {
  width: 100px;
}

.container-match-profile .input-edit-introduce .btn {
  width: 45px;
  height: 30px;
}

.container-match-profile .input-edit-introduce .btn>p {
  position: relative;
  top: 0.5px;
}

@media screen and (min-width:425px) and (max-width:767px) {
  .container-match-profile .profile-img img {
    width: 200px;
    height: 80%;
  }

  .container-match-profile .profile-info p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .container-match-profile .profile-img img {
    width: 100%;
    height: 70%;
  }


  .container-match-profile .profile-info p {
    font-size: 2.0rem;
  }

  .container-match-profile .introduce>p {
    height: 48px;
    width: 140px;
  }

  .container-match-profile .introduce button {
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-match-profile .introduce button>p {
    font-size: 1.8rem;
    top: 0px;
    bottom: 0px;
  }

  .container-match-profile .form-profile .label-img {
    width: 120px;
    height: 40px;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-match-profile .label-img span {
    font-size: 2rem;
  }
}

@media screen and (min-width:1024px) {
  .container-match-profile .user-profile {
    display: flex;
    justify-content: center;
  }


  .container-match-profile .profile-img img {
    width: 100%;
    height: 70%;
  }

  .container-match-profile .profile-info {
    margin-left: 50px;
  }

  .container-match-profile .profile-info p {
    font-size: 2.0rem;
  }

  .container-match-profile .introduce>p {
    height: 48px;
    min-width: 140px;
  }

  .container-match-profile .introduce button {
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-match-profile .introduce button>p {
    font-size: 1.8rem;
    top: 0px;
    bottom: 0px;
  }

  .container-match-profile .form-profile .label-img {
    width: 120px;
    height: 40px;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-match-profile .label-img span {
    font-size: 2rem;
  }
}