<<<<<<< HEAD
.make-post{
=======
.make-post {
>>>>>>> origin/jungYH
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
<<<<<<< HEAD
    margin-right:50px;
}

.make-post button{
    width:auto;
    
    font-size:1.5rem;
=======
    margin-right: 50px;
}

.make-post button {
    width: auto;

    font-size: 1.5rem;
>>>>>>> origin/jungYH
}