.admin-category-view-rightside{
    display:flex;
    flex-direction: column;
}

.admin-category-view-rightside.active{
    display:none;
}

.admin-category-view-rightside .title-box{
    display:flex;
    align-items: center;
    min-height: calc(100vh / 5 - 50px);
}

.admin-category-view-rightside .title{
    width:100%;
}

.admin-category-view-rightside .category-box{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height:calc(((100vh / 5) * 4) - 80px);
    margin:0 30px;
}

.admin-category-view-rightside .category-item{
    margin:20px 0px;
    display: flex;
}

.admin-category-view-rightside .icon{
    border:1px solid black;
    width:50%;
}

.admin-category-view-rightside .repairAndDelete{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    height:100%;
}

.admin-category-view-rightside .category-item a{
    width:100%;
    height: 100%;
    text-align: center;
}

.admin-category-view-rightside .category-item svg{
    width:50%;
    height: 100%;
}
.admin-category-view-rightside .modify{
    color:#4D96FF;
}

.admin-category-view-rightside .delete{
    color:#FF1818;
}
@media screen and (max-width:1023px)
{
    .admin-category-view-rightside{
        width:100%;
    } 
}

@media screen and (max-width:767px)
{
    .admin-category-view-rightside .category-box{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height:calc((100vh / 5) * 4 - 80px);
    }

    .admin-category-view-rightside{
        text-align: center;
        font-size:1.5rem;
    }
}

@media screen and (max-width:424px)
{

    .admin-category-view-rightside{
        text-align: center;
        font-size:1rem;
    }
}