@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&family=Jua&family=Lobster&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Playfair+Display:ital@1&display=swap');

html,
body {
  overflow-x: hidden;
}

* {
  font-family: "Anton", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.container {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

h1 {
  margin: 0;
}

.Home {
  height: 100vh;
}

.row {
  padding: 0;
  margin: 0;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Nanum Brush Script", cursive !important;
}

span {
  font-family: "Nanum Brush Script", cursive !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Brush Script", cursive !important;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  font-family: "Nanum Brush Script", cursive !important;
}

label {
  font-family: "Nanum Brush Script", cursive !important;
}