* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  box-sizing: border-box;
  border: 0 solid #e3e3e3;
  width: 100%;
  height: 210px;
  background-color: rgba(31, 199, 193, 0.2);
  text-shadow: none;
}

.nav {
}

/* .ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  white-space: normal;
}

.li {
  display: inline-block;
  padding: 0 1rem;
  text-align: center;
}

.li .a {
  cursor: pointer;
  color: #000;
}
.li .a:hover {
  color: rgb(6, 197, 197);
  font-weight: bold;

} */

.section {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10rem;
  display: flex;
  background-color: #e3e3e3;
}

.section .profile_box {
  width: 300px;
  /*background-color: red;*/
  height: 250px;
}

.section .main {
  width: 100%;
  padding-left: 5rem;
}

.main {
  width: 100%;
  padding-left: 5rem;
}
