.container-match-profile .left {
    position: absolute;
    width: 40vw;
}

.container-match-profile .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

@media screen and (min-width:1024px) {
    .container-match-profile {
        display: flex;
    }

    .container-match-profile .right {}
}