.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 26px 26px 34px;
  width: 330px;
  height: 400px;
  background: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  margin: 15px 0;
}

.box label,
.box input,
.box span,
.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6 {
  font-family: "Jua" !important;
}

.summaryInfo {
  display: flex;
  font-size: 18px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-gap: 10px;
  gap: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.summaryPlace {
  display: block;
}
.title {
  font-size: 24px;
  min-height: 46px;
  line-height: 36px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -0.04em;
  margin: 16px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.itemInfo {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  border-top: 2px solid #f2f2f2;
  padding-top: 16px;
}

.userBox {
  display: flex;
  align-items: center;
  position: relative;
}

.userImg {
  width: 36px;
  height: 36px;
  display: block;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.subInfo {
  display: flex;
  grid-gap: 12px;
  gap: 12px;
}

.categoryImg {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  grid-gap: 12px;
  gap: 12px;
}

.infoItem {
  display: flex;
  align-items: center;
  color: #999;
  grid-gap: 6px;
  gap: 6px;
}

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 20px;
}

.waviy span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;
  color: rgb(243, 45, 45);
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20px);
  }
}
