

.container {
  width: 48rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10rem 1.5rem 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.backBtn {
  margin-bottom: 1.5rem;
}

.contentBox {
  margin-top: 3rem;
  font-size: 1.5rem;
}