

.container {
  width: 48rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10rem 1.5rem 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.backBtn:hover {
  cursor: pointer;
}

.title {
  margin-top: 2.5rem;
  font-weight: 800;
  font-size: 3rem;
}

.userAndDate {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 3px solid #f2f2f2;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  align-items: center;
}


.nickName {
  color: #333;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding-right: 15px;
  border-right: 2px solid #e1e1e1;
}

.registerDate {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  color: #717171;
}

.boardInfo {
  display: grid;
  grid-template-columns: repeat(2,3fr);
  grid-row-gap: 24px;
  row-gap: 24px;
  margin-top: 60px;
}

.infoBox{
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.infoTitle{
  color: #717171;
  margin-right: 40px;
}
.infoContent{
  color: #333;
}

.contentBox {
  margin-top: 132px;
  font-size: 1.125rem;
  word-break: break-all;
  line-height: 1.7;
  letter-spacing: -.004em;
}
.contentHeader{
  margin: 0;
  color: #333;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 24px;
  border-bottom: 3px solid #f2f2f2;
}
.contentWrap{
  width: 100%;
  margin: 40px auto 0;
}

.chatBtnBox{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
