.chatting-list {
  background-color: #faf0d7;
  padding: 0px 50px;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  margin-top: 50px;
  list-style: none;
}

.chatting-list li:hover {
  background-color: #ffe69a;
}

.chatting-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh / 4 - 12.5px);
  max-height: calc(100vh / 4 - 12.5px);
  border-bottom: 1px solid black;
}

.chatting-list h4,
.chatting-list h5 {
  margin: 10px 0px;
}

@media screen and (max-width: 424px) {
  .chatting-list ul {
    padding: 0px 30px;
  }
}
