.profile {
  height: 15rem;
  margin-bottom: 2rem;
  padding: 20px 15px 15px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
  display: flex;
  justify-content: center;
  width: 250px;
  height: 400px;

  margin-top: -10rem;
}

.box {
  padding: 20px 15px 15px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 150px;
  padding-left: 1.5rem;
}

.imgBox {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(197, 168, 223);
  background-color: rgb(197, 168, 223);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.fileBtn {
  padding: 6px 25px;
  background-color: #ff6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
