/*1440px 이상*/
.header {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: relative;
  background-color: #d9d1cb;
}

.header .left {
  width: 50vw;
  height: 50vw;
  display: flex;
  align-items: center;
}

.header .logo .title > p {
  font-size: 4rem;
}
