.header .logo .title h1,
.header .logo .buttons,
.header .right > p{
  animation: fadeInUp;
  animation-duration: 2s;
}

/* Shutter Out Horizontal */
.header .logo .title h2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.header .logo .title h2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0%;
  transform-origin: 0%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.header .logo .title h2:hover,
.header .logo .title h2:focus,
.header .logo .title h2:active {
  color: black;
}
.header .logo .title h2:hover:before,
.header .logo .title h2:focus:before,
.header .logo .title h2:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header .logo .btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.header .logo .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3c8769;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.header .logo .btn:hover,
.header .logo .btn:focus,
.header .logo .btn:active {
  color: white;
}
.header .logo .btn:hover:before,
.header .logo .btn:focus:before,
.header .logo .btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
