/*1440px 이상*/
.header {
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
}

.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .logo .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.header .logo .title>p {
  font-family: "Nanum Brush Script", cursive !important;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  position: relative;
}

.header .title h1 {

  font-family: "Nanum Brush Script", cursive !important;
  position: relative;
}

.header .buttons .btn {
  position: relative;
}

.header .logo .buttons {
  position: relative;
  display: flex;
}

.header .logo .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.header .btn p {
  font-family: "Nanum Pen Script", cursive;
}

.header .logo .btn-category-find {
  background: none;
  color: black;
  border: none;
}

.header .logo .btn-category-create {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: black;
}

.header .introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .introduce p {
  position: relative;
  font-family: "Nanum Brush Script", cursive !important;
}

.header .introduce .detail-white-background {
  display: flex;

}

.header .fade-class {
  display: flex;

}

.header .introduce .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .img-map {
  position: relative;
}

.header .caption {

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .caption .title {
  display: flex;
  justify-content: center;
}

.header .caption .text {
  display: flex;
  justify-content: center;

}

.header .img-muscle {
  border-radius: 50%;
}

.fade-class:nth-child(2n-1) {
  position: relative;
  left: 200px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}

.fade-in:nth-child(2n-1) {
  transition: left 2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
  left: 0px;
  opacity: 1;
}

.fade-class:nth-child(2n) {
  position: relative;
  right: 200px;
  opacity: 0;
  transition: right 2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}

.fade-in:nth-child(2n) {
  transition: right 2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
  right: 0px;
  opacity: 1;
}