.signup-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  max-width: 100vw !important;
  justify-content: center;
  align-items: center;
  background-color: #ffd59e;
}

.signup-component .header-title{
  color:black !important;
  font-size:2rem !important;
}

.signup-component .signup-separate {
  display: flex;
}

.signup-component .signup-part1 {
  margin-right: 20px;
}

.signup-component .card-header {
  font-size: 2rem;
  text-align: center;
}

.signup-component .card-header p {
  color: gray;
  font-size: 1rem;
  margin: 5px 0px;
}

.signup-component .form-check label {

}
.signup-component .signup-btn {
  display: flex;
  justify-content: center;
}

