.signup-component {
  width: 100vw;
  margin-top: 50px;
  display: flex;
  max-width: 100vw !important;
  height:100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffd59e;
}

.signup-component .header-title {
  color: black !important;
  font-size: 2rem;
}

.signup-component .signup-separate {
  display: flex;
}

.signup-component .signup-part1 {
  margin-right: 20px;
}

.signup-component .card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  min-height: 100px;
}

.signup-component .card-header p {
  color: gray;
  font-size: 1rem;
  margin: 5px 0px;
}

.signup-component .signup-btn {
  display: flex;
  justify-content: center;
}

.signup-component .id-chk-input {
  max-height: 40px;
}

@media screen and (max-width: 1023px) {
  .signup-component .card-header {
    padding: 0;
  }

  .signup-component .signup-separate {
    flex-direction: column;
  }

  .signup-component .signup-part1 {
    margin: 0;
  }
}
